.pokecard {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 33%;
    background-color: #0075BE;
    border-radius: 15px;
    margin-top: 15px;
    &__image{
        &__container{
            border-radius: 100%;
            background-color: #D5A100;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-top: 10px;
            img{
                width: 80%;
                margin: 0 auto;
            }
        }
        h3{
            text-transform: capitalize;
            color: #FFCC00;
        }
    }
    &__info{
        color: #FFCC00;
        font-weight: 400;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}